body {
  font-family: Helvetica, Arial, Sans-Serif;
}

#user_profile {
  border-radius: 10px;
  border: 3px solid black;
  margin: 8px;
  padding: 8px;
  height: 60px;
}

#user_profile_label {
  float: left;
  margin-right: 20px;
}

